/*
 Copyright © 2015 Ralph A. Foy. All Rights Reserved.
 No part of this document may be reproduced without 
    written consent from the author.
*/

body {
    background-color: white;
    zoom: 1.5;
}

.blankPiece, .whitePiece, .blackPiece {
    width: 2em;
    height: 2em;
    border-radius: 2em;
    margin: 0 auto;
}

.whitePiece {
    border: 3px solid black;
    background-color: white;
}

.blackPiece {
    border: 3px solid white;
    background-color: black;
}