/*
 Copyright © 2015 Ralph A. Foy. All Rights Reserved.
 No part of this document may be reproduced without 
    written consent from the author.
*/

body {
    background-color: white;
    zoom: 1.5;
}

input[readonly] {
    background-color: #cfcfcf;
}